.indulgenceWrapper {
  display: flex;
  flex-direction: column;
  // 縦方向
  align-items: center;

  //横
  justify-content: center;
  width: calc(100vw - 80px);

  .appTitle{
    width: 100%;
    font-size: 3rem;
    text-align: center;
  }

  .faceButtonWrapper{
    display: flex;

      .faceButton{
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
          text-align: center;
        }

        Button{
        font-size: 6rem;
        // border-radius: 50%;
      }
    }
  }
}
