.logo{
  width: 100%;
}

.faceButtonWrapper {
  display: flex;

  //横
  justify-content: center;
  width: calc(100vw - 4rem);
}

.context {
  text-align: center;
}

.appTitle {
  position: fixed;
  top: 0;
}
